{erl_opts, [
  debug_info,
  {platform_define, "^R", pre17},
  {parse_transform, stacktrace_transform}
]}.

{deps, [
    {stacktrace_compat, "1.0.0"}
]}.

{eunit_opts, [verbose]}.
{cover_enabled, true}.

{profiles, [
  {test, [
    {plugins, [
      {rebar3_eqc, ".*", {git, "https://github.com/kellymclaughlin/rebar3-eqc-plugin.git", {tag, "0.0.10"}}}
    ]}
  ]
}]}.
