{erl_opts, [
  debug_info,
  {platform_define, "^R", pre17},
  {parse_transform, lager_transform}
]}.

{eunit_opts, [verbose]}.
{cover_enabled, true}.

{deps, [
  lager,
  {lager_logstash, {git, "git@github.com:tigertext/lager_logstash.git", {tag, "0.1.4"}}}
]}.

{profiles, [
  {test, [
    {plugins, [
        {rebar3_eqc, ".*", {git, "https://github.com/kellymclaughlin/rebar3-eqc-plugin.git", {tag, "0.1.0"}}}
    ]}
  ]
}]}.
