{erl_opts, [
  debug_info,
  {platform_define, "^R", pre17}
]}.

{eunit_opts, [verbose]}.
{cover_enabled, true}.

{profiles, [
  {test, [
    {plugins, [
        {rebar3_eqc, ".*", {git, "https://github.com/kellymclaughlin/rebar3-eqc-plugin.git", {tag, "0.1.0"}}}
    ]},
	{deps, [
		{proper,"1.4.0"},
		{rebar3_eqc,"1.3.0"}
	]}
  ]},
  
	{edoc_private, [
        {edoc_opts, [
            {private, true}
        ]}
	]}
]}.

{edoc_opts, [
    {preprocess, true}, {stylesheet, "style.css"}
]}.

{project_plugins, [rebar3_proper,rebar3_eqc]}.
